<div class="container">
  <div class="tui-row">
    <div class="tui-col_md-4">
      <tui-island size="l" [hoverable]="false">
        <img alt="Taiga" class="image" [src]="bannerImage" />
        <h3 class="title title_size_s">Repository name</h3>
        <p class="text">
          {{collapsingText}}
        </p>
        <p class="languages">{{languages}}</p>
        <div>
          <a
            tuiButton
            type="button"
            href="https://ng-web-apis.github.io"
            mode="secondary"
            size="s"
            target="_blank"
            class="button"
          >
            Site
          </a>
          <a
            tuiButton
            type="button"
            href="https://ng-web-apis.github.io"
            mode="secondary"
            size="s"
            target="_blank"
            class="button"
          >
            Source
          </a>
        </div>
      </tui-island>
    </div>
  </div>
</div>
